@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.header {
  background-color: orangered;
  margin-top: 0;
  letter-spacing: .5em;
  font-weight: 700;
  height: 4em;
}

h1 {
  margin: 0;
}

.instructions {
  background-color: floralwhite;
  position: absolute;
  left: 5px;
  font-size: 12px;
}
